.home-container {
  height: 88vh;
  background-color:#221f17;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content-container {
  /* margin-top: 65px; */
  width: 60%;
  height: 500px;
  background-color: rgba(158, 158, 158, 0.24);
  border-radius: 8px;
  padding: 0 40px;
  /* box-shadow: 0px 8px 8px rgba(149, 149, 149, 0.431); */
  /* background-color: #fff; */
}

.introduction-title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 50px 0;
}

.introduction {
  margin: 40px 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.social-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.github,
.twitter,
.linkedin {
  height: 60px;
  width: 180px;
  cursor: pointer;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 25px;
  border-radius: 3px;
  box-shadow: 0px 5px 8px rgb(36, 34, 34);
  transition: 0.5s;
  margin: 30px 0;
}

.github:hover,
.twitter:hover,
.linkedin:hover {
  border-bottom: 3px solid #00000000;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
}

.github {
  background: -webkit-linear-gradient(left, #e6bb2e,#e76360);
  border-bottom: 3px solid #c05351;
}

.twitter {
  background: -webkit-linear-gradient(left,#e76360, #e83779);
  border-bottom: 3px solid #a82757;
}

.linkedin {
  background: -webkit-linear-gradient(left,#a274aa, #52b9e1);
  border-bottom: 3px solid #4090af;
}

