.nav-bar {
  background-color: #221f17;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 3px solid;
}

.name {
  font-size: 35px;
  background: -webkit-linear-gradient(left, #e6bb2e,#e83779,#52b9e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.nav-link-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
}


